/* TODO: move to tailwindcss */

@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap");

* {
  margin: 0;
  padding: 0;
}

:root {
  --header-background: #1f1f1f;
  --text-primary: white;
  --text-secondary: #aaa;
  --font-size: 72px;
  --digit-width: 38px;
  --non-digit-width: 12px;
  --digit-height: 74px;
  --line-height: 100%;
  --font-weight: 700;
}

::-webkit-scrollbar {
  width: 16px;
}

::-webkit-scrollbar-track {
  background: #282828;
}

::-webkit-scrollbar-thumb {
  border-radius: 8px;
  border: 4px solid transparent;
  background: #606060;
  background-clip: content-box;
}

::-webkit-scrollbar-thumb:hover {
  background: #909090;
  background-clip: content-box;
}

.main-area {
  position: absolute;
  top: 118px;
  width: 100%;
  height: calc(100% - 118px);
  min-height: 600px;
  min-width: 800px;
  overflow-y: hidden;
  background-color: #282828;
  z-index: -1;
}

.sub-header {
  display: flex;
  position: absolute;
  left: 10px;
  top: 10px;
}

.live {
  font-family: Roboto, Noto, sans-serif;
  font-weight: lighter;
  font-size: 13px;
  line-height: 20px;
  color: #aaa;
  margin-top: 5px;
  margin-left: 4px;
}

#dot {
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background-color: #41b4d9;
  display: inline-block;
  margin-right: 8px;
  margin-left: 8px;
}

.icon-container2 {
  fill: #aaa;
}

.svg3 {
  position: absolute;
  top: 15px;
  right: 15px;
  height: 24px;
}

#count {
  margin-left: -3px;
  font-family: "Roboto";
  font-size: var(--font-size);
  line-height: var(--line-height);
  font-weight: var(--font-weight);
}

.header-rectangle {
  background-color: var(--header-background);
  height: 118px;
}

.icon-container {
  position: absolute;
  width: 200px;
  height: 30px;
  top: 29px;
  left: 50%;
  text-align: center;
  margin-right: 0;
  transform: translate(-50%, -50%);
}

.yt-icon {
  width: 100%;
  height: 100%;
  fill: var(--text-primary);
}

#avatar {
  position: absolute;
  top: 119px;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 80px;
  height: 80px;
  border: 8px solid #282828;
  border-radius: 50%;
}

#title {
  position: absolute;
  width: 100%;
  height: 24px;
  left: 50%;
  top: 183px;
  transform: translate(-50%, -50%);
  text-align: center;
  font-family: "Roboto", "Noto", sans-serif;
  font-weight: 500;
  -webkit-font-smoothing: antialiased;
  font-size: 18px;
  line-height: 24px;
  z-index: 100;
}

.label {
  position: relative;
  top: calc(50% - 20px);
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  margin-right: 0;
  font-family: "Roboto", "Noto", sans-serif;
  font-weight: 500;
  -webkit-font-smoothing: antialiased;
  font-size: 18px;
  line-height: 24px;
  color: var(--text-secondary);
}

.count-area {
  position: relative;
  width: 100%;
  height: 60%;
  min-height: 300px;
}

#count {
  position: relative;
  top: 50%;
  left: 50%;
  text-align: center;
  margin-right: 0;
  transform: translate(-50%, -50%);
  font-family: "Roboto", "Noto", sans-serif;
  font-weight: bold;
}

.chart-area {
  position: relative;
  width: 100%;
  height: 40%;
}

.chart-text-area {
  position: relative;
  width: 70%;
  left: 15.8%;
}

#chart {
  position: relative;
  width: 70%;
  left: 15%;
}

.channel-growth-label {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  -webkit-font-smoothing: antialiased;
  font-size: 15px;
  line-height: 24px;
  left: 0;
  padding-top: 12px;
}

.last-growth-label {
  font-family: "Roboto", "Noto", sans-serif;
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
  letter-spacing: 0.011em;
  font-size: 12px;
  line-height: 16px;
  color: var(--text-secondary);
  padding-top: 2px;
}
